#
# Copyright (c) 2021 Circuit Dojo LLC
#

menuconfig SGP40_CD
	bool "SGP40 TVOC Sensor"
	depends on I2C
	help
	  Enable driver for SGP40 TVOC sensors.

if SGP40_CD

config SGP40_DRV_NAME
	string "Sensirion SGP40 Driver's name"
	default "SGP40"
	help
	  This option sets the driver name

endif # SGP40_CD