#
# Copyright (c) 2021 Circuit Dojo LLC
#

menuconfig AQW
	bool "Air Quality Wing Sensor Library"
	help
	  Enable Air Quality Wing sensor library.

if AQW

# Module logging
module = AQW
module-str = aqw
source "subsys/logging/Kconfig.template.log_config"

rsource "codec/Kconfig"

endif # AQW